.progress {
    position: relative;
    width: 20px;
    height: 20px;
} 
.progress-in1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #008000;
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 1.2rem;
    color: var(--font-color);
} 
.progress-in2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 3px solid rgb(214, 211, 211);
    border-radius: 50%;
    clip-path: polygon(50% 50%, 0% 50%, 0% 0%, 50% 0%);
}
 