.pixel-search__container h4{
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.pixel-search__container p{
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.pixel-search__container input{
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.6rem;
    border: 1px solid hsl(0, 0%, 80%);
}
.pixel-status {
    padding: 0.2rem 0.8rem;
    border-radius: 0.6rem;
    font-weight: 600;
    max-width: 70px;
    font-size: 1.2rem;
    text-align: center;
}
.status-active {
    color: #085408;
    background: #e5f9e5;
}
.status-inactive {
    color: #5b5858;
    background: #e7eae7;
}
.pixel-select-filter {
    display: flex;
    gap: 1.2rem;
}
.pixel-select-filter .react-select {
    width: 200px;
}
.pixel-search__container {
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
}
.pixel-pagination {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: flex-end;
}
.pixel-pagination select {
    border: none;
}
.pixel-table__container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.pixel-table__pagContainer {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.pixel-search__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.pixel-item__name {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.pixel-camera__online .camera-status {
    background-color: rgb(6, 125, 6);
}
.pixel-camera__offline .camera-status {
    background-color: rgb(243, 19, 19);
}
.camera-status {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
} 
.pixel-health__wrapper {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}
.pixel-health-1 , .pixel-health-2{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}
.pixel-action__icon {
    border: none;
    background-color: transparent;
}
.pixel-table__container .pixel-table__heading:last-child {
    text-align: center;
}
.pixel-table__container .pixel-table__row .pixel-table__cell:last-child {
    text-align: center;
}
.pixel-page__container {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
}
.pixel-page__container button {
    display: flex;
    border: none;
    background-color: transparent;
}
.pixel-page__container button:not(:disabled):hover {
    background-color: #d2d2d2;
    border-radius: 0.6rem;
}