.pixel-table__wrapper {
    overflow-x: auto;
    overscroll-behavior-x: contain;
}
.pixel-table__wrapper .pixel-table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
    border: none;
}
.pixel-table__heading {
    border-bottom: 2px solid var(--app-bg-color);
}
.pixel-table__wrapper .pixel-table .pixel-table__cell, .pixel-table__wrapper .pixel-table .pixel-table__heading {
    text-align: left;
}
.pixel-table__row {
    border-bottom: 1px solid #f0f0f0;
}
.pixel-table__wrapper .pixel-table .pixel-table__row:hover {
    background-color: #f9fcff;
}
.pixel-table__wrapper .pixel-table .pixel-table__row--selected:hover {
    background-color: #bae0ff;
}
.pixel-table__wrapper .pixel-table .pixel-table__cell {
    padding: 0.6rem;
    color: #7d7d7d;
}
.pixel-table__wrapper .pixel-table .pixel-table__heading {
    padding: 0.8rem 0.6rem;
    font-size: 1.4rem;
    color: var(--font-color);
}
.pixel-table__wrapper .pixel-table .pixel-table__headingCheckboxCell {
    padding: 0.8rem 0.8rem 0.8rem 1.2rem;
}
.pixel-table__wrapper .pixel-table .pixel-table__checkboxCell {
    padding: 0.6rem 0.6rem 0.6rem 1.2rem;
}
.pixel-table__wrapper .pixel-table .pixel-table__row--selected {
    background-color: #e6f4ff;
}
